body{
    background-color: #233841;
}
.Title{
    text-align: center;
    font-size: 80px;
    font-family: 'Bungee Hairline';
    font-weight: 600;
    color: #2EABE1;
    margin: 0;
}

button{
    
}