body{
    background-color: #233841;
    margin: 0;
}
hr{
    width: 50%;
    margin-top: 0;
}
h1{
    text-align: center;
    font-size: 80px;
    font-family: 'Bungee Hairline';
    font-weight: 600;
    color: #2EABE1;
    margin: 0;
}
h2{
    text-align: center;
    font-size: 65px;
    font-family: sans-serif;
    font-weight: 300;
    color: #2EABE1;
    margin: 0;
}
.container{
    background-color: #233841;
    height: 300px;
    border-radius: 10px;
    /*border: 3px solid green;*/
}
.selector{
    background-color: #233841;
    width: 100%;
    height: 55px;
    font-size: 22px;
    font-weight: 900;
    border-radius: 10px;
    position: static;
    
}
.State{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    height: 20px;
    /*TODO - do sth with height as it changes, when there is/isn't text*/
}
#stateString{
    color: unset;
}
#playbtn:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: #7990C6; /*change the color to a darker one*/
}
#GameState{
    width: 170px;
    height: inherit;
    background-color: inherit;
    border: none;
    display: inline-block;    
    justify-content: center;
}
#hardbtn{
    float: right;
}
#hardbtn:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: #7990C6; /*change the color to a darker one*/
}
#easybtn{
    float: right;
    margin-right: 20px;
}
#easybtn:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: #7990C6; /*change the color to a darker one*/
}
.guess{
    /*margin-top: 150px;*/ /*why was this there in the first place?*/
    display: flex;
    justify-content: center;
    align-items: center;   
}
.colorButtons{
    margin: 30px;
    padding: 14px 40px;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 19px;
    background-color: inherit;  
    transition: 350ms;
}
.selectorButtons{
    width: 170px;
    height: inherit;
    border-radius: 10px;
    font: inherit;
    background-color: #7990C6;
    cursor: pointer;
    border: none;
    transition: 300ms;
}